@charset "UTF-8";
 .header{
            background:linear-gradient(black,grey);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 80px;


        }
        span
        {
            color:yellow;
        }
        .logo
        {
            color:antiquewhite;
            font-size: 50px;
            font-style: italic;
        }
        ul li{
            display: inline;
            padding: 15px;
            font-weight: 600;
        }
   
        ul li a{
            text-decoration: none;
  
        }
        ul li a{
           color: red;
        }
        ul li a:hover
        {
            color:yellow;
        }
        .footer{
            height: 80px;
            color:antiquewhite;
            text-align: center;
            background:linear-gradient(black,grey);
            padding: 15px;
        }
       .footer p{
            color: red;
        }
        
        